<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selectjun.todo.config.security.mapper.CertificationAuthorityMapper">

    <select id="findById" parameterType="String" resultType="com.selectjun.todo.config.security.domain.CertificationAuthorityEntity">
        SELECT
            AUTHORITY_ID
            , ID
            , AUTHORITY
        FROM
            USER_AUTHORITY
        <where>
            ID = #{id}
        </where>
    </select>

    <select id="findAuthorityById" parameterType="String" resultType="java.lang.String">
        SELECT
            AUTHORITY
        FROM
            USER_AUTHORITY
        <where>
            ID = #{id}
        </where>
    </select>

</mapper>