<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selectjun.todo.mapper.TodoMapper">

    <insert id="insertTodo" parameterType="com.selectjun.todo.domain.TodoEntity" useGeneratedKeys="true" keyProperty="todoId" keyColumn="todoId">
        INSERT INTO TODO (
            TITLE
            <if test="content != null and content != ''">, CONTENT</if>
            <if test="startDate != null and startDate != ''">, START_DATE</if>
            <if test="endDate != null and endDate != ''">, END_DATE</if>
            , CREATE_AT
            , UPDATE_AT
            , ID
            , IS_COMPLETE
            , IS_DELETE
        ) VALUES (
            #{title}
            <if test="content != null and content != ''">, #{content}</if>
            <if test="startDate != null and startDate != ''">, #{startDate}</if>
            <if test="endDate != null and endDate != ''">, #{endDate}</if>
            , NOW()
            , NOW()
            , #{id}
            , #{isComplete}
            , #{isDelete}
        )
    </insert>

    <select id="getTodoList" resultType="com.selectjun.todo.domain.TodoEntity">
        SELECT
            TODO_ID
            , TITLE
            , CONTENT
            , START_DATE
            , END_DATE
            , CREATE_AT
            , UPDATE_AT
            , ID
            , IS_COMPLETE
            , IS_DELETE
        FROM
            TODO
        <where>
            IS_DELETE = 0
        </where>
    </select>

    <select id="getTodo" resultType="com.selectjun.todo.domain.TodoEntity">
        SELECT
            TODO_ID
            , TITLE
            , CONTENT
            , START_DATE
            , END_DATE
            , CREATE_AT
            , UPDATE_AT
            , ID
            , IS_COMPLETE
            , IS_DELETE
        FROM
            TODO
        <where>
            IS_DELETE = false
            AND
            TODO_ID = #{todoId}
        </where>
    </select>

    <update id="updateTodo">
        UPDATE
            TODO
        <set>
            TITLE = #{title}
            <if test="content != null and content != ''">, CONTENT = #{content}</if>
            <if test="startDate != null and startDate != ''">, START_DATE = #{startDate}</if>
            <if test="endDate != null and endDate != ''">, END_DATE = #{endDate}</if>
            , UPDATE_AT = NOW()
        </set>
        <where>
            TODO_ID = #{todoId}
        </where>
    </update>

    <update id="deleteTodo" useGeneratedKeys="true">
        UPDATE
            TODO
        <set>
            UPDATE_AT = NOW()
            , IS_DELETE = true
        </set>
        <where>
            TODO_ID = #{todoId}
        </where>
    </update>

</mapper>