<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selectjun.todo.mapper.UserMapper">

    <insert id="save" parameterType="com.selectjun.todo.domain.UserEntity">
        INSERT INTO USER (
            ID
            , PASSWORD
            , NAME
            , EMAIL
            , CREATE_AT
            , UPDATE_AT
        ) VALUES (
            #{id}
            , #{password}
            , #{name}
            , #{email}
            , NOW()
            , NOW()
        )
    </insert>

    <select id="countById" parameterType="java.lang.String" resultType="Long">
        SELECT
            COUNT(*)
        FROM
            USER
        <where>
            id = #{id}
        </where>
    </select>

</mapper>