$aside-default-width: 48px;

* {
  box-sizing: border-box;
}

html, body {
  background-color: #f0f2f5;
  width: 100%;
  height: 100%;
}

body {
  #root {
    width: 100%;
    height: 100%;
    z-index: 500;

    .container {
      font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      background: #f5f5f5;
      color: #4d4d4d;
      width: 100%;
      height: 100%;
      padding-bottom: 32px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 300;

      &.todoapp,
      &.login,
      &.join {
        width: calc(100% - 82px);
        margin-left: 82px;

        &.on {
          width: calc(100% - 150px);
          margin-left: 150px;

          aside {
            width: 150px;

            #menuBtn {
              left: 156px;
            }

            ul:nth-child(2) {
              li {
                .menu-name {
                  display: inline-block;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }

      .contents {
        background: #fff;
        margin: 10px auto 40px auto;
        position: relative;
        min-width: 230px;
        max-width: 550px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                    0 25px 50px 0 rgba(0, 0, 0, 0.1);
        
        input::-webkit-input-placeholder,
        input::-moz-placeholder,
        input::input-placeholder {
          font-style: italic;
          font-weight: 300;
          color: #e6e6e6;
        }
      }

      .user-box {
        text-align: center;
        line-height: 2em;

        a {
          color: #000;
        }
      }
    }
  }
}
