.container {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;

	.login-box {
		background: #fff;
		margin: 10px 0 40px 0;
    position: relative;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
								0 25px 50px 0 rgba(0, 0, 0, 0.1);
		
		input::-webkit-input-placeholder,
		input::-moz-placeholder,
		input::input-placeholder {
			font-style: italic;
			font-weight: 300;
			color: #e6e6e6;
		}
	}
}

.login-inp
,.login-btn {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.login-btn {
  color: #fff;
  font-weight: bold;
  text-align: left;
  background-color: #b83f45;
}
